.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
}

/* 센터 */
.Header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

/* 왼쪽 버튼 */
.Header .header_left {
  width: 25%;
  justify-content: flex-start;
}

/* 오른쪽 버튼 */
.Header .header_right {
  width: 25%;
  justify-content: flex-end;
}
